*,
*:after,
*:before
  box-sizing inherit

*
  margin 0
  padding 0

html
  box-sizing border-box
  height 100%
  width 100%

body
  background #000
  color #fff
  font 14px 'Inconsolata', 'sans-serif'
  user-select none
  height 100%
  width 100%
