.menu
  bottom 0
  display inline-block
  left 50%
  list-style none
  position absolute
  text-align center
  transform translateX(-50%)
  white-space nowrap

.menu-item
  display inline-block

.menu-link
  display block
  font-size 0
  height 50px
  margin auto
  position relative
  text-decoration none
  width 50px

.menu-link-bullet
  background #fff
  border-radius 50%
  content ''
  display block
  height 10px
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%)
  width 10px

  &:before
    border 2px solid #fff
    border-radius 50%
    bottom -1px
    content ''
    display block
    left -1px
    position absolute
    right -1px
    transition all .4s
    top -1px

  .menu-link:hover &
    &:before
      bottom -5px
      left -5px
      right -5px
      top -5px

.menu-link-text
  background #000
  bottom 100%
  color #fff
  border 2px solid #fff
  display block
  font-size 12px
  font-weight bold
  left 50%
  letter-spacing 1px
  opacity 0
  padding 8px 11px 8px 15px
  position absolute
  transform translateX(-50%) translateY(-25px)
  transition opacity .4s, transform .4s, visibility .4s
  visibility hidden
  white-space nowrap

  &:after
    background #000
    border solid #fff
    border-width 0 2px 2px 0
    bottom -10px
    content ''
    display block
    height 10px
    left 50%
    position absolute
    transform rotate(45deg) translateX(-50%)
    width 10px

  .menu-link:hover &
    opacity 1
    transform translateX(-50%) translateY(0)
    visibility visible
